/* Cuerpo */
.body-index {
    font-family: 'Browood-Regular';
    margin: 0;
    padding: 0;
    background: url(imagenes/index.jpeg) center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.body-libros {
    font-family: 'Browood-Regular';
    margin: 0;
    padding: 0;
    background: url(imagenes/listas.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.body-autores {
    font-family: 'Browood-Regular';
    margin: 0;
    padding: 0;
    background: url(imagenes/listas.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.body-form-libros {
    font-family: 'Browood-Regular';
    margin: 0;
    padding: 0;
    background: url(imagenes/formularios.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.body-form-autores {
    font-family: 'Browood-Regular';
    margin: 0;
    padding: 0;
    background: url(imagenes/formularios.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

@font-face {
    font-family: 'Browood-Regular';
    src: url('browood/Browood-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Navbar */
#Encabezado {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 99.78%;
    height: 5em;
    margin-left: 0em;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

#logo {
    margin-left: 3em;
    margin-top: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.opcion {
    text-align: center;
    color: white;
    border: 3px;
    border: 2px solid #efb810;
    border-style: outset;
    border-radius: 5px;
    width: 15em;
    height: fit-content;
    margin-top: 1.5em;
}

.opcion a {
    text-align: center;
    color: white;
    text-decoration: none;
    border: 3px;
    border-radius: 5px;
    width: 15em;
    height: fit-content;
    margin-top: 1.5em;
}

.opcion a:link,
.opcion a:visited {
    color: white;
}

#busquedad {
    display: flex;
}

#buscador {
    margin-top: 1.2em;
    width: 8em;
    height: 2em;
    border: none;
    border-bottom: 1px solid #efb810;
    background: none;
    outline: none;
    color: #efb810;
}

#lupa {
    margin-top: 1.2em;
    margin-right: 7em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
}

.opcion:nth-child(2) {
    margin-left: 12em;

}

.opcion:nth-child(3) {
    margin-right: 10em;

}

.opcion:hover {
    transform: scale(1.2);
    transition-duration: 0.8s;
    color: black;
    background-color: #efb810;
}

.opcion:not(:hover) {
    transform-origin: 0;
    transition: 0.5s;
}

/* Index */
#gif {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: 42%;
    width: 10em;
    height: 10em;
    cursor: pointer;
}

#gif img:hover {
    transform: scale(2.4);
}

#gif img {
    transform: scale(1.9);
    transition: transform 0.3s ease-in-out;
}

/* Tarjetas de libros */
#cuerpo {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.titulo h1 {
    color: white;
    margin-top: -8em;
    margin-left: 2em;
    position: absolute;
}

#scroll-lateral {
    display: flex;
    width: 180em;
    height: 31em;
    overflow-x: auto;
    padding: 1.5em;
    margin-top: 8em;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000 15px, #000 calc(100% - 15px), rgba(0, 0, 0, 0));
}

.card {
    width: 15em;
    height: fit-content;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    margin: 20px;
    border-radius: 20px;
    flex-direction: rows;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.card-content {
    padding: 20px;
    width: 10em;
}

.card-content h3 {
    margin-top: 0;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* .card-content h3:link,
.card-content h3:visited {
    color: white; */

.card:hover {
    transform: scale(1.2);
    transition-duration: 0.8s;
    background-color: #efb7103c;
}

.card:not(:hover) {
    transform-origin: 0;
    transition: 0.8s;
}

#papelera {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

#lapiz {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    cursor: pointer;
}

#añadir {
    width: 6em;
    height: 6em;
    border-radius: 50px;
    margin: 3.5em;
    margin-top: 10em;
    background-image: url(imagenes/añadir.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#añadir:hover {
    transform: scale(2);
    transition-duration: 1.2s;
}

#añadir:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

/* Tabla de autores */
h1 {
    color: white;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

#scroll {
    width: 96.8%;
    margin-left: 1.5em;
    max-height: 29em;
    overflow-y: auto;
    border-radius: 20px;
    border: 1.5px solid #efb810;
}

.tabla {
    width: 100%;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.imagen-columna {
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-color: transparent;
    border-radius: 20px;
    padding: 2em;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.imagen-columna img {
    border-radius: 50%;
    width: 5.5em;
    height: 5.5em;
    margin-right: 1.5em;
    cursor: pointer;
}

.imagen-columna:hover {
    transition-duration: 0.8s;
    background-color: #efb810;
    border-radius: 20px;
}

.imagen-columna:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

.nombre-autor {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.editor-columna {
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-color: transparent;
    border-radius: 20px;
    text-align: right;
    padding: 1.5em;
}

.editor {
    width: 1.5em;
    height: 1.5em;
    margin: 1em;
    cursor: pointer;
}

#añadir-autor {
    width: 8em;
    height: 8em;
    border-radius: 50px;
    margin-top: 3.8%;
    margin-left: 45%;
    background-image: url(imagenes/añadir.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#añadir-autor:hover {
    transition: 2s;
    transform: scale(1.2);
}

#añadir-autor:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

/* Formulario libros */
.titulo-form h1 {
    color: white;
    font-size: 2em;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

#Cuerpo {
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    width: 96.8%;
    max-height: 39em;
    margin-top: 2em;
    margin-left: 1.5em;
    border-radius: 20px;
}

#formulario {
    display: flex;
    margin-top: -1.3em;
    width: 100%;
    height: fit-content;
}

.marco {
    border-radius: 20px;
    width: 89em;
    height: 4.3em;
}

.marco:hover {
    transition-duration: 0.8s;
    background-color: #efb810;
}

.marco:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

.espacio-libros {
    margin: 1em;
    margin-left: 2em;
    font-size: 1.3em;
    line-height: 3.5em;
    color: white;
}

#descripcion {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 3.3em;
}

#texto_desc {
    margin-left: 2em;
}

.borde {
    margin-left: 2em;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    border-style: outset;
    color: rgb(0, 0, 0);
}

#boton {
    width: 6em;
    height: 6em;
    border-radius: 50px;
    margin-top: 3em;
    margin-left: 45%;
    background-image: url(imagenes/guardar.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#boton:hover {
    transition: 2s;
    transform: scale(1.2);
}

#boton:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

/* Formulario autores */
.marco-autores {
    border-radius: 20px;
    width: 89em;
    height: 3.5em;
}

.marco-autores:hover {
    transition-duration: 0.8s;
    background-color: #efb810;
}

.marco-autores:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

.espacio {
    margin: 1em;
    margin-left: 2em;
    font-size: 1.3em;
    line-height: 2.8em;
    color: white;
}

#biografia {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: fit-content;
}

/* Media Queries para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
    #Encabezado {
        height: 3em;
    }

    #logo {
        width: 2em;
        height: 2em;
    }

    .opcion {
        width: 100%;
        margin: 0.5em 0;
    }

    #buscador {
        width: 100%;
        margin-top: 0.5em;
    }

    #lupa {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
    }

    #gif {
        margin-top: 10%;
        margin-left: 35%;
        width: 8em;
        height: 8em;
    }
}

/* Media Queries para pantallas medianas (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #Encabezado {
        height: 4em;
    }

    #logo {
        width: 2.5em;
        height: 2.5em;
    }

    .opcion {
        width: 50%;
        margin: 0.5em 0;
    }

    #buscador {
        width: 70%;
        margin-top: 0.5em;
    }

    #lupa {
        width: 1.8em;
        height: 1.8em;
        margin-right: 0.5em;
    }

    #gif {
        margin-top: 15%;
        margin-left: 40%;
        width: 9em;
        height: 9em;
    }
}

/* Resto del CSS para pantallas grandes */
/* ... */
